
#logo1 {
  padding-top: 100px;
  margin: auto;
  height: 400px;
  width: 200px;
}

#logins {
  display: flex;
  justify-content: center;
}

#b1 {
  margin: 30px;
}

#signInContent {
  padding-top: 200px;
  margin: auto;
  width: 200px;
  height: 200px;
}
